<div class="body">

  <div class="video-background">
    <video autoplay muted loop playsinline>
      <source src="assets/202503292027.mp4" type="video/mp4" />
    </video>
  </div>

  <!-- Formulario de login. Se ejecuta la función onSubmit() al enviar -->
  <form id="form" (ngSubmit)="onSubmit()"> 
    <h1>Bienvenido</h1>

  <!-- Campo para ingresar el nombre de usuario -->
    <label for="username">Usuario:</label><br />
    <input
      type="text"
      id="username"
      name="username"
      [(ngModel)]="username"
      placeholder="Username"
      required
    /><br />

    <!-- Campo para ingresar la contraseña -->
    <label for="password">Contraseña:</label><br />
    <input
      type="password"
      id="password"
      name="password"
      [(ngModel)]="password"
      placeholder="Password"
      required
    /><br />

    <!-- Botón para enviar el formulario -->
    <button type="submit">Ingresar</button>

    <!-- Mostrar mensaje de éxito o error -->
    <div *ngIf="message">{{ message }}</div>
  </form>

</div>


